force-app/main/default/flows/solar_panel_feedback_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_32426bea_35ab_4588_9ac9_653e951e1764</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_99b77b2f_61af_415a_b928_2936b57d9096</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_9832854a_db08_4b3b_bf00_9e7ddf9766c3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>p_32426bea_35ab_4588_9ac9_653e951e1764</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_2c404cf2_b1a7_4093_b4de_b236faf55cdc</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2cbf2750_798f_41e0_8b37_ca7f19678d9d</name>
        <choiceText>Not yet installed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not yet installed</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2e1d2b9c_6545_475b_91e6_29431a6444b3</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4dcd978a_c151_4059_90a7_85a82ff99497</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_531b987f_095b_4245_81e2_9f78f84bc80c</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5a50b853_cefb_442e_abff_065dd4bc573d</name>
        <choiceText>Installation executive behavior</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Installation executive behavior</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_64067536_40c5_4a61_adb8_60c5db636c2b</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_754c8ee5_d483_4275_9c41_78b731a506ee</name>
        <choiceText>Late installation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Late installation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cca54d71_3c11_41a5_9a9f_0a24621e9fa9</name>
        <choiceText>Faulty installation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Faulty installation</stringValue>
        </value>
    </choices>
    <decisions>
        <name>d_ece3200a_4ed5_4c6b_8f1b_c98c160abb74</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_9832854a_db08_4b3b_bf00_9e7ddf9766c3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_83a0496c_28ed_459e_92aa_f8ad34eaa3a3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>CSAT</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a9185941_bad9_43cf_b120_345df5220f1c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_17ef3664_f85b_4fdd_9411_71e9b67956f5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>CSAT</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_a9185941_bad9_43cf_b120_345df5220f1c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Solar Panel Feedback Survey</interviewLabel>
    <label>Solar Panel Feedback Survey</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isAutosaveEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_32426bea_35ab_4588_9ac9_653e951e1764</name>
        <label>Solar Panel Installation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_99b77b2f_61af_415a_b928_2936b57d9096</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_fca421dd_6c72_4455_9bce_4001e0da8855_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>star</stringValue>
                </value>
            </processMetadataValues>
            <name>q_fca421dd_6c72_4455_9bce_4001e0da8855</name>
            <choiceReferences>c_4dcd978a_c151_4059_90a7_85a82ff99497</choiceReferences>
            <choiceReferences>c_2e1d2b9c_6545_475b_91e6_29431a6444b3</choiceReferences>
            <choiceReferences>c_64067536_40c5_4a61_adb8_60c5db636c2b</choiceReferences>
            <choiceReferences>c_2c404cf2_b1a7_4093_b4de_b236faf55cdc</choiceReferences>
            <choiceReferences>c_531b987f_095b_4245_81e2_9f78f84bc80c</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace;&quot;&gt;Rate your experience with the solar panel installation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <name>q_80e9e16c_4742_46eb_be98_4616a582728e</name>
            <choiceReferences>c_754c8ee5_d483_4275_9c41_78b731a506ee</choiceReferences>
            <choiceReferences>c_cca54d71_3c11_41a5_9a9f_0a24621e9fa9</choiceReferences>
            <choiceReferences>c_5a50b853_cefb_442e_abff_065dd4bc573d</choiceReferences>
            <choiceReferences>c_2cbf2750_798f_41e0_8b37_ca7f19678d9d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace;&quot;&gt;Tell us what didn’t go well with the installation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_fca421dd_6c72_4455_9bce_4001e0da8855</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>c_64067536_40c5_4a61_adb8_60c5db636c2b</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_9832854a_db08_4b3b_bf00_9e7ddf9766c3</name>
        <label>Low Score Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_94b5e6a1_a154_475e_84cb_3202cf0cd8ec</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace;&quot;&gt;Tell us why you rated our solar panels &lt;/span&gt;{!q_a9185941_bad9_43cf_b120_345df5220f1c}&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_99b77b2f_61af_415a_b928_2936b57d9096</name>
        <label>Score Solar Panel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_ece3200a_4ed5_4c6b_8f1b_c98c160abb74</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a9185941_bad9_43cf_b120_345df5220f1c_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a9185941_bad9_43cf_b120_345df5220f1c</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: Monaco, Menlo, Consolas, &amp;quot;Courier New&amp;quot;, monospace;&quot;&gt;Score our solar panels&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you for completing the survey.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;img src=&quot;https://developersandbox21-dev-ed.develop.file.force.com/file-asset-public/image?oid=00D4H000000wfxg&amp;amp;v=1&quot; alt=&quot;image&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_a9185941_bad9_43cf_b120_345df5220f1c_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_fca421dd_6c72_4455_9bce_4001e0da8855_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
